* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

h1 {
    align-self: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.product {
    margin: 20px;
    padding: 20px;
    align-self: center;
}

.btn-buy {
    padding: 10px;
    border-radius: 5px;
    background-color: aquamarine;
}